@keyframes drawer-slide-in {
	from {transform: translateX(-40rem);}
	to {transform: translateX(0rem);}
}

@keyframes drawer-slide-out {
	from {transform: translateX(0rem);}
	to {transform: translateX(-40rem); display: none;}
}

@keyframes section-slide-in {
	from {transform: translateX(0);}
	to {transform: translateX(18rem)}
}

@keyframes section-slide-out {
	from {transform: translateX(18rem);}
	to {transform: translateX(0)}
}

@media (max-width: 750px) {
	@keyframes section-slide-in {
		from {transform: translateX(0);}
		to {transform: translateX(9rem)}
	}

	@keyframes section-slide-out {
		from {transform: translateX(9rem);}
		to {transform: translateX(0)}
	}
}

@keyframes progress-bar {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes slide-right {
	from {
/*		left: 0;*/
		transform: translateX(0);
	}
	to {
/*		left: 20rem;*/
		transform: translateX(105%);
	}
}

@keyframes infinite-scroll {
	from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

@keyframes horizontal-scroll {
	from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

@keyframes slide-vertical-out {
	from {transform: translateY(0);}
	to {transform: translateY(10rem);}
}

@keyframes slide-vertical-in {
	from {transform: translateY(10rem);}
	to {transform: translateY(0);}
}

@keyframes scroll-to-appear {
	from {opacity: 0; scale: 0.9; translateY: 500%;}
	to {opacity: 1; scale: 1; translateY: 0;}
}

.drawer-in {
	animation: drawer-slide-in 1.3s linear;
	animation-fill-mode: forwards;
/*	left: 1rem;*/
}

.drawer-out {
	animation: drawer-slide-out 1.3s linear;
	animation-fill-mode: forwards;
/*	animation-direction: reverse;*/
/*	left: -20rem;*/
}

.section-drawer-in {
	animation: section-slide-in 1.3s linear;
	animation-fill-mode: forwards;
}

.section-drawer-out {
	animation: section-slide-out 1.3s linear;
	animation-fill-mode: forwards;
}

.horizontal-bar-in {
	animation: slide-vertical-in 1.3s linear;
}

.horizontal-bar-out {
	animation: slide-vertical-out 1.3s linear;
	animation-fill-mode: forwards;
}

.vertical-element-in {
	animation: section-slide-in 1.3s linear;
	animation-fill-mode: forwards;
}

.vertical-element-out {
	animation: section-slide-out 1.3s linear;
	animation-fill-mode: forwards;
}

.perk-card:hover ~ .perk-card, .perk-card:focus-within ~ .perk-card {
	transform: translateX(calc(23rem - 2px));
}

@media (max-width: 750px) {
	.horizontal-bar-in, .horizontal-bar-out, .vertical-element-in, .vertical-element-out { animation: none;}

	.perk-card:active ~ .perk-card, .perk-card:hover ~ .perk-card, .perk-card:focus-within ~ .perk-card {
		transform: translateX(calc(17rem - 2px));
	}
}

.hover-border {
	border: 1px solid;
	animation: progress-bar 1s ease;
/*	animation-fill-mode: forwards;*/
}

.logo-progress {
	animation: slide-right 1.1s ease-in-out;
	animation-fill-mode: forwards;
}

.scroll-header {
	animation: infinite-scroll 13s infinite linear;
}

.scroll-icons {
	animation: horizontal-scroll 12s linear infinite;
}

.scroll-icons:hover {
	animation-play-state: paused;
}

.scroll-fade-in {
	transition: opacity 2s linear;
	animation: scroll-to-appear 2s linear forwards;
	animation-timeline: view(block);
	animation-range: 0 40%;
	/*animation-range: entry 50% entry 70%;*/
/*	animation-range: entry 0% cover 50%;*/
	/*animation-timeline: scroll(self);*/
	/*animation-fill-mode: both;*/
}

main::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}

main {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
