@keyframes drawer-slide-in {
	from {transform: translateX(-36rem);}
	to {transform: translateX(-3.5rem);}
}

@keyframes drawer-slide-out {
	from {transform: translateX(-3.5rem);}
	to {transform: translateX(-36rem); display: none;}
}

@keyframes section-slide-in {
	from {transform: translateX(0);}
	to {transform: translateX(18rem)}
}

@keyframes section-slide-out {
	from {transform: translateX(18rem);}
	to {transform: translateX(0)}
}

@media (max-width: 750px) {
	@keyframes section-slide-in {
		from {transform: translateX(0);}
		to {transform: translateX(4rem)}
	}

	@keyframes section-slide-out {
		from {transform: translateX(9rem);}
		to {transform: translateX(0)}
	}
}

@keyframes progress-bar {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes slide-right {
	from { transform: translateX(0);}
	to { transform: translateX(105%);}
}

@keyframes infinite-scroll {
	from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

@keyframes horizontal-scroll {
	from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

@keyframes slide-vertical-out {
	from {transform: translateY(0);}
	to {transform: translateY(10rem);}
}

@keyframes slide-vertical-in {
	from {transform: translateY(10rem);}
	to {transform: translateY(0);}
}

@keyframes scroll-fadeIn {
	from { opacity: 0; scale: 0.9; translateY: 30vh;}
	to { opacity: 1; scale: 1;translateY: 0;}
}

@keyframes slide-down {
	from { opacity: 0; translateY: -200%; }
	to { opacity: 1; translateY: 0%; }
}

@keyframes slide-up {
	from { opacity: 1; translateY: 0; }
	to { opacity: 0; translateY: -200%; }
}

@keyframes opacity-fade-in {
	from { opacity: 0; scale: 0.6; }
	50% { opacity: 0.5, scale: 0.8; }
	to { opacity: 1; scale: 1;}
}

.drawer-in {
	animation: drawer-slide-in 0.7s linear;
	animation-fill-mode: forwards;
/*	left: 1rem;*/
}

.drawer-out {
	animation: drawer-slide-out 0.7s linear;
	animation-fill-mode: forwards;
/*	animation-direction: reverse;*/
/*	left: -20rem;*/
}

.section-drawer-in {
	animation: section-slide-in 0.8s linear;
	animation-fill-mode: forwards;
}

.section-drawer-out {
	animation: section-slide-out 0.8s linear;
	animation-fill-mode: forwards;
}

.horizontal-bar-in {
	animation: slide-vertical-in 0.8s linear;
}

.horizontal-bar-out {
	animation: slide-vertical-out 0.8s linear;
	animation-fill-mode: forwards;
}

.vertical-element-in {
	animation: section-slide-in 1s linear;
	animation-fill-mode: forwards;
}

.vertical-element-out {
	animation: section-slide-out 1s linear;
	animation-fill-mode: forwards;
}

.perk-card:hover ~ .perk-card, .perk-card:focus-within ~ .perk-card {
	transform: translateX(calc(23rem - 2px));
}

.lang-slide-in {
	animation: slide-down 1s ease forwards;
}

.lang-slide-out {
	animation: slide-up 1s ease forwards;
}

@media (max-width: 750px) {
	.horizontal-bar-in, .horizontal-bar-out, .vertical-element-in, .vertical-element-out { animation: none;}

	.perk-card:active ~ .perk-card, .perk-card:hover ~ .perk-card, .perk-card:focus-within ~ .perk-card {
		transform: translateX(calc(17rem - 2px));
	}

	@keyframes drawer-slide-in {
		from {transform: translateX(-28rem);}
		to {transform: translateX(0rem);}
	}

	@keyframes drawer-slide-out {
		from {transform: translateX(0rem);}
		to {transform: translateX(-28rem); display: none;}
	}

	.drawer-in {
		animation: drawer-slide-in 0.7s linear;
		animation-fill-mode: forwards;
	/*	left: 1rem;*/
	}

	.drawer-out {
		animation: drawer-slide-out 0.7s linear;
		animation-fill-mode: forwards;
	/*	animation-direction: reverse;*/
	/*	left: -20rem;*/
	}
}

.hover-border {
	border: 0.8px solid;
	animation: progress-bar 0.6s ease;
/*	animation-fill-mode: forwards;*/
}

.logo-progress {
	animation: slide-right 1.1s ease-in-out;
	animation-fill-mode: forwards;
}

.scroll-header {
	animation: infinite-scroll 20s linear infinite;
}

.scroll-icons {
	animation: horizontal-scroll 12s linear infinite;
}

.scroll-icons:hover {
	animation-play-state: paused;
}

.scroll-fade-in {
	transition: opacity 2s linear, transform 2s linear;
	animation: scroll-fadeIn 2s linear both;
	animation-timeline: view(block);
	animation-range: 0 30%;
	/*animation-range: entry 50% entry 70%;*/
/*	animation-range: entry 0% cover 50%;*/
	/*animation-timeline: scroll(self);*/
	/*animation-fill-mode: both;*/
}

.icon-fade-in {
	animation: opacity-fade-in 1s linear forwards;
}

main::-webkit-scrollbar {
  display: none;             /* Chrome, Safari, Opera */
}

main {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
