@import "tailwindcss";
@import "@fontsource/plus-jakarta-sans/400.css";
@import "@fontsource/plus-jakarta-sans/500.css";
@import "@fontsource/plus-jakarta-sans/600.css";
@import "@fontsource/plus-jakarta-sans/700.css";
@import "@fontsource/plus-jakarta-sans/800.css";

@theme {
  --color-black: #161619;
  --color-white: #F7F7F7;
  --color-gray: #949494;
  --breakpoint-sm: 750px;
}

body {
  font-family: "Plus Jakarta Sans";
}

/*.text-scale-base {
  font-size: clamp(0.5rem, calc(1rem * (100vw / 1920)), 1rem);
}
.text-scale-lg {
  font-size: clamp(0.625rem, calc(1.125rem * (100vw / 1920)), 1.125rem);
}
.text-scale-xl {
  font-size: clamp(0.75rem, calc(1.25rem * (100vw / 1920)), 1.25rem);
}
.text-scale-2xl {
  font-size: clamp(0.875rem, calc(1.5rem * (100vw / 1920)), 1.5rem);
}
.text-scale-3xl {
  font-size: clamp(1rem, calc(1.875rem * (100vw / 1920)), 1.875rem);
}
.text-scale-4xl {
  font-size: clamp(1.125rem, calc(2.25rem * (100vw / 1920)), 2.25rem);
}
.text-scale-5xl {
  font-size: clamp(1.5rem, calc(3rem * (100vw / 1920)), 3rem);
}
.text-scale-6xl {
  font-size: clamp(2rem, calc(4rem * (100vw / 1920)), 4rem);
}*/

@font-face {
  font-family: "Plus Jakarta Sans";
  /*src: url("/fonts/custom.woff2") format("woff2");*/
  font-display: swap; /* 避免阻塞渲染 */
  -webkit-font-smoothing: antialiased; /* 抗锯齿 */
}