@import "tailwindcss";
@import "@fontsource/plus-jakarta-sans/400.css";
@import "@fontsource/plus-jakarta-sans/500.css";
@import "@fontsource/plus-jakarta-sans/600.css";
@import "@fontsource/plus-jakarta-sans/700.css";
@import "@fontsource/plus-jakarta-sans/800.css";

@theme {
  --color-black: #161619;
  --color-white: #F7F7F7;
  --color-gray: #949494;
  --breakpoint-sm: 750px;
}

@font-face {
  font-family: "Plus Jakarta Sans";
  /*src: url("/fonts/custom.woff2") format("woff2");*/
  font-display: swap; /* 避免阻塞渲染 */
  -webkit-font-smoothing: antialiased; /* 抗锯齿 */
}

body {
  font-family: "Plus Jakarta Sans";
  font-display: swap; /* 避免阻塞渲染 */
}

.odometer-inside {
  letter-spacing: 1px;
}

div.odometer-inside .odometer-digit:last-child span.odometer-value, div.odometer-inside .odometer-digit:last-child span.odometer-ribbon-inner, div.odometer-inside .odometer-digit:last-child span.odometer-ribbon, div.odometer-inside .odometer-digit:last-child span.odometer-digit-spacer {
  padding-right: 0.04rem !important;
  display: inline-block;
  /*color: red;*/
  /*border: 1px solid black;*/
  margin-right: 0.04rem !important;
}

span.odometer-value {
  font-family: "Plus Jakarta Sans" !important;
}

:root {
  /* 设置默认的 rem 值，基于 16px */
  --base-font-size: 16px;
  
  /* 使用 CSS 媒体查询提供基本的响应式 */
  /*@media (max-width: 480px) {
    --base-font-size: 64px;
  }*/

  @media (max-width: 750px) {
    --base-font-size: 100px;
  }

  @media (max-width: 1920px) {
    --base-font-size: 90px;
  }
  
  @media (min-width: 1921px) {
    --base-font-size: 90px;
  }
}
  
html {
  font-size: var(--base-font-size);
  /*transition: font-size 0.1s ease;*/
}

body:not(.loaded) {
  visibility: hidden;
}
  
body.loaded {
  visibility: visible;
  transition: visibility 0.1s ease;
}