@import "tailwindcss";
@import "@fontsource/plus-jakarta-sans/400.css";
@import "@fontsource/plus-jakarta-sans/500.css";
@import "@fontsource/plus-jakarta-sans/600.css";
@import "@fontsource/plus-jakarta-sans/700.css";
@import "@fontsource/plus-jakarta-sans/800.css";

@theme {
  --color-black: #161619;
  --color-white: #F7F7F7;
  --color-gray: #949494;
}

body {
  font-family: "Plus Jakarta Sans";
}